:root {
  --main-opacity-two: #FFFFFF10;
  --overlay-cards: rgba(33, 150, 243, 0.9);
  --element-hero: #2F303A;
  --strip-applications: #2F303A80;
  --text-page: #000000;
  --text-contacts: #757575;
  --bcg-button: #F5F4FA;
  --bcg-btn-hero: #188CE8;
  --border-header: #ECECEC;
  --border-portfolio: #EEEEEE;
  --modal-backround: #00000050;
  --modal-close: #00000010;
  --icon-social: #AFB1B8;
  --text-placeholder: rgba(117, 117, 117, 0.5);
  --border-modal: rgba(33, 33, 33, 0.2);
  --card-distance: 30px;
  --time-bezier: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --card-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
      0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
  --portfolio-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
      0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  --shadow-button: 0px 3px 1px rgba(0, 0, 0, 0.1),
      0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  --shadow-modal-window: 0px 1px 3px rgba(0, 0, 0, 0.12),
      0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
}

.services-portfolio,
.features,
.works,
.team,
.regular-customers {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .services-portfolio,
.features,
.works,
.team,
.regular-customers {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
h1,
h2,
h3,
h4,
p,
ul,
span {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  padding-left: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #FFFFFF;
  color: #212121;
}

.no-scroll {
  overflow: hidden;
}

.pointer {
  cursor: pointer;
}

.connection__contact,
.header__item,
.mobile__item,
.logo-studio,
.cards-portfolio,
.mobile-menu__contact--telephon,
.mobile-menu__contact--mail,
.mobile-menu__social-list,
.mobile-menu__social-link {
  text-decoration: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.connection__contact:hover .connection__icon, .connection__contact:focus .connection__icon {
  fill: #2196F3;
}

.connection__contact:hover,
.connection__contact:focus {
  color: #2196F3;
}

.connection__icon {
  margin-right: 10px;
  fill: var(--text-contacts);
}

.connection__contact {
  font-size: 14px;
  line-height: 1.14;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--text-contacts);
  transition: color var(--time-bezier);
}

@media screen and (min-width: 1200px) {
  .connection {
    display: flex;
    align-items: center;
    column-gap: 30px;
  }
}
@media screen and (max-width: 767px) {
  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 111;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity var(--time-bezier), visibility var(--time-bezier);
  }
  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .mobile-menu__container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    padding: 48px 40px;
  }
  .mobile-menu__close-btn {
    line-height: 0;
    position: absolute;
    top: 10px;
    right: 15px;
    background-color: transparent;
    border: 0;
    padding: 0;
    cursor: pointer;
    transition: var(--time-bezier);
  }
  .mobile-menu__close-btn:hover, .mobile-menu__close-btn:focus {
    fill: #2196F3;
  }
  .mobile-menu__close-icon {
    width: 40px;
    height: 40px;
  }
  .mobile__item.mobile__item--current {
    color: #2196F3;
  }
  .mobile-menu__nav-menu {
    display: inline-block;
    margin-bottom: auto;
  }
  .mobile__item {
    display: block;
    font-size: 40px;
    font-weight: 500;
    line-height: 1.175;
    color: #212121;
    letter-spacing: 0.02em;
  }
  .mobile__item:not(:last-child) {
    margin-bottom: 32px;
  }
  .mobile__item:hover, .mobile__item:focus {
    color: #2196F3;
  }
  .mobile-menu__contact {
    margin-bottom: 64px;
    display: block;
  }
  .mobile-menu__contact--telephon {
    display: block;
    margin-bottom: 32px;
    font-weight: 500;
    font-size: 34px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: #2196F3;
  }
  .mobile-menu__contact--mail {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--text-contacts);
  }
  .mobile-menu__social {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: flex-start;
  }
  .mobile-menu__social-link {
    display: block;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: #2196F3;
  }
  .mobile-menu__social-list:not(:last-child) {
    padding-right: 10px;
    border-right: 1px solid var(--border-modal);
  }
}
@media screen and (max-width: 480px) {
  .mobile-menu {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
.hero__button {
  margin-top: 30px;
  padding: 10px 24px;
  font-family: "Roboto", sans-serif;
  color: #FFFFFF;
  background-color: #2196F3;
  font-size: 16px;
  line-height: 1.88;
  font-weight: 700;
  letter-spacing: 0.06em;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
  border: #2196F3;
  transition: color var(--time-bezier), background-color var(--time-bezier);
}
.hero__button:hover, .hero__button:focus {
  color: #FFFFFF;
  background-color: var(--bcg-btn-hero);
}

@media screen and (min-width: 1200px) {
  .hero__button {
    padding: 10px 32px;
  }
}
.backdrop {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--modal-backround);
  transition: opacity var(--time-bezier), visibility var(--time-bezier);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  width: 450px;
  position: absolute;
  border-radius: 4px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  background-color: #FFFFFF;
  box-shadow: var(--shadow-modal-window);
}

.modal-close-icon {
  fill: var(--text-page);
}
.modal-close-icon:hover {
  fill: #2196F3;
}

.modal-close-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: #FFFFFF;
  border: 1px solid var(--modal-close);
  border-radius: 50%;
  padding: 0;
  cursor: pointer;
}

@media screen and (max-width: 450px) {
  .modal {
    width: 96%;
  }
}
@media screen and (min-width: 768px) {
  .modal {
    width: 528px;
  }
}
.modal-feedback {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: #212121;
  margin-bottom: 12px;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  font-size: 12px;
  border-radius: 4px;
  border: 1px solid var(--border-modal);
  padding-left: 42px;
  transition: border-color var(--time-bezier);
}
.modal-form-input:focus {
  border-color: #2196F3;
  outline: none;
}
.modal-form-input:focus + .icon-modal {
  fill: #2196F3;
}

.modal-form-text-above {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  color: var(--text-contacts);
  margin-bottom: 4px;
}

.modal-form-message {
  width: 100%;
  height: 120px;
  font-size: 12px;
  resize: none;
  border-radius: 4px;
  border: 1px solid var(--border-modal);
  padding: 12px 16px;
  transition: border-color var(--time-bezier);
}
.modal-form-message:focus {
  outline: none;
  border-color: #2196F3;
}
.modal-form-message::placeholder {
  font-size: 12px;
  line-height: 1.17;
  color: var(--text-placeholder);
}

.modal-form-field {
  margin-bottom: 10px;
}

.modal-form-icon {
  position: relative;
  display: block;
}

.icon-modal {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  fill: #212121;
  transition: fill var(--time-bezier);
}

.modal-form-icon-check {
  flex-shrink: 0;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  background-color: #FFFFFF;
  cursor: pointer;
  margin-right: 7px;
}

.modal-form-check {
  position: absolute;
  appearance: none;
  text-decoration-color: #188CE8;
}
.modal-form-check:focus + .modal-form-icon-check {
  box-shadow: 0 0 0 1px #2196F3;
}
.modal-form-check:checked + .modal-form-icon-check {
  background-color: #2196F3;
  border: none;
}
.modal-form-check:checked + .modal-form-icon-check .modal-form-icon-policy {
  display: block;
}

.modal-form-agreement {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 30px;
}

.modal-form-icon-policy {
  display: none;
  fill: #FFFFFF;
}

.modal-form-agreement__text {
  display: flex;
  flex-wrap: wrap;
}

.modal-text-policy {
  display: inline-block;
  white-space: nowrap;
  font-size: 14px;
  line-height: 1.7;
  text-decoration: underline;
  color: #2196F3;
}
.modal-text-policy:hover {
  text-decoration: none;
}
.modal-text-policy-first {
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: 1.7;
  color: var(--text-contacts);
}

.modal-text-policy-first {
  display: inline-block;
  white-space: nowrap;
}

.modal-form-submit {
  cursor: pointer;
  margin: auto;
  width: 200px;
  height: 50px;
  font-size: 16px;
  line-height: 1.88;
  font-weight: 700;
  background-color: #2196F3;
  color: #FFFFFF;
  border: #2196F3;
  letter-spacing: 0.06em;
  border-radius: 4px;
  text-align: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: color var(--time-bezier), background-color var(--time-bezier);
}
.modal-form-submit:hover, .modal-form-submit:focus {
  color: #FFFFFF;
  background-color: var(--bcg-btn-hero);
}

.picture-portfolio {
  text-align: left;
  padding-bottom: 0px;
}

.cards-portfolio-overlay {
  position: relative;
  overflow: hidden;
}

.overlay {
  display: flex;
  position: absolute;
  align-items: center;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.56;
  letter-spacing: 0.03em;
  padding: 0 24px;
  overflow: auto;
  transform: translateY(100%);
  transition: transform var(--time-bezier);
}

.cards-portfolio:hover .overlay,
.cards-portfolio:focus .overlay {
  transform: translateY(0);
}

.logo-studio {
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.logo-studio__first-title {
  color: #2196F3;
}
.logo-studio__second-title {
  color: var(--text-page);
}
.logo-studio__third-title {
  color: #FFFFFF;
}

@media screen and (min-width: 1200px) {
  .logo-studio {
    font-size: 26px;
    line-height: 1.19;
  }
}
.list-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  color: #212121;
  background-color: var(--bcg-button);
  border: var(--bcg-button);
  border-radius: 4px;
  padding: 6px 22px;
  cursor: pointer;
  transition: color var(--time-bezier), background-color var(--time-bezier), box-shadow var(--time-bezier);
}
.list-button:hover, .list-button:focus {
  color: #FFFFFF;
  background-color: #2196F3;
  box-shadow: var(--shadow-button);
}
.list-button.list-button--active {
  background-color: #2196F3;
  color: #FFFFFF;
  box-shadow: var(--shadow-button);
}

@media screen and (max-width: 767px) {
  .header__nav-menu {
    display: none;
  }
  .connection__header {
    display: none;
  }
  .open-mobile-menu-btn {
    line-height: 0;
    border: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
    transition: var(--time-bezier);
  }
  .open-mobile-menu-btn:hover, .open-mobile-menu-btn:focus {
    fill: #2196F3;
  }
  .open-mobile-menu-btn__icon {
    width: 40px;
    height: 40px;
  }
  .page-header {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--border-header);
  }
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .open-mobile-menu-btn {
    display: none;
  }
  .header__nav-menu,
.header__navigation {
    display: flex;
    align-items: center;
  }
  .header__item {
    position: relative;
    font-size: 14px;
    line-height: 1.14;
    font-weight: 500;
    letter-spacing: 0.02em;
    color: #212121;
    transition: color var(--time-bezier);
  }
  .header__item:hover, .header__item:focus {
    color: #2196F3;
    fill: #2196F3;
  }
  .header__item.header__item--current {
    color: #2196F3;
  }
  .header__nav-menu {
    column-gap: 50px;
  }
  .header__navigation {
    column-gap: 87px;
  }
  .header__item--current::after {
    content: "";
    position: absolute;
    bottom: -33px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #2196F3;
    border-radius: 2px;
  }
  .connection__icon {
    margin-right: 8px;
    fill: var(--text-contacts);
    align-items: center;
  }
  .connection__contact {
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 1.17;
    font-weight: 500;
    letter-spacing: 0.02em;
    color: var(--text-contacts);
    transition: color var(--time-bezier);
  }
  .connection__header--mail {
    margin-bottom: 10px;
  }
  .connection__header {
    display: flex;
    flex-direction: column;
  }
  .page-header {
    padding-top: 21px;
    padding-bottom: 21px;
    border-bottom: 1px solid var(--border-header);
  }
}
@media screen and (min-width: 1200px) {
  .header__navigation {
    column-gap: 95px;
  }
  .connection__header--mail {
    margin-bottom: 0;
  }
  .connection__header {
    flex-direction: row;
    align-items: center;
  }
  .page-header {
    padding: 25px 0;
  }
  .connection__contact {
    font-size: 14px;
    line-height: 1.14;
  }
}
.hero {
  padding: 118px 0;
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Header-Mobx1.jpg);
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 480px), screen and (min-resolution: 192dpi) and (min-width: 480px), screen and (min-resolution: 2dppx) and (min-width: 480px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Header-Mob@x2.jpg);
  }
}
.hero__title {
  color: #FFFFFF;
  font-size: 26px;
  line-height: 1.62;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.06em;
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Header-Tabx1.jpg);
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Header-Tab@x2.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding: 200px 0;
    max-width: 1600px;
    margin: 0 auto;
    background-size: cover;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Header-Descx1.jpg);
  }
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Header-Desc@x2.jpg);
  }
}
.footer {
  background-color: var(--element-hero);
  padding: 60px 0 60px 0;
}

.footer-general {
  display: flex;
}

@media screen and (max-width: 767px) {
  .footer-general {
    flex-direction: column;
  }
}
.footer-nav,
.footer-social {
  display: inline-block;
}

@media screen and (max-width: 1199px) {
  .footer-form {
    display: inline-block;
    text-align: center;
  }
  .footer-nav,
.footer-social {
    text-align: center;
    margin-bottom: 60px;
  }
  .footer-general {
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .footer-mail-subscribe {
    display: block;
  }
}
.connection__contact-direct {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.3764705882);
}

.footer-connection__contact:not(:last-child) {
  margin-bottom: 8px;
}

.footer-contacts {
  margin-top: 20px;
}

.adress {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-weight: 400;
  color: #FFFFFF;
}

.footer-social-join {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: #FFFFFF;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
}

.social-list-footer {
  display: flex;
  justify-content: center;
  column-gap: 10px;
}

.social-link-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--main-opacity-two);
  transition: background-color var(--time-bezier);
}
.social-link-footer:hover, .social-link-footer:focus {
  background-color: #2196F3;
}

.footer-form-subscribe {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.user-mail-input {
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 1.25;
  padding-left: 16px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: var(--element-hero);
}
.user-mail-input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.3764705882);
  margin-left: 16px;
}

.footer-form-sending {
  margin: auto;
  width: 200px;
  height: 50px;
  font-size: 16px;
  line-height: 1.88;
  font-weight: 700;
  background-color: #2196F3;
  color: #FFFFFF;
  border: #2196F3;
  letter-spacing: 0.06em;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  transition: color var(--time-bezier), background-color var(--time-bezier);
}
.footer-form-sending:hover, .footer-form-sending:focus {
  color: #FFFFFF;
  background-color: var(--bcg-btn-hero);
}

.icon-send-plane {
  display: inline-block;
  vertical-align: middle;
  fill: #FFFFFF;
  margin-left: 12px;
}

@media screen and (min-width: 768px) {
  .user-mail-input {
    width: 450px;
  }
  .footer-form {
    margin-top: 60px;
  }
  .footer {
    position: relative;
  }
}
@media screen and (min-width: 1200px) {
  .footer-general {
    align-items: baseline;
  }
  .footer-social,
.footer-nav {
    position: static;
  }
  .footer-social {
    margin-left: 70px;
  }
  .footer-form {
    margin-top: 0;
    margin-left: auto;
  }
  .footer-form-subscribe {
    font-weight: 500;
  }
  .footer-mail-subscribe {
    margin-right: 12px;
  }
  .user-mail-input {
    width: 358px;
  }
  .icon-send-plane {
    margin-left: 10px;
  }
  .footer-connection__contact:not(:last-child) {
    margin-bottom: 9px;
  }
  .footer-social-join {
    display: inline-block;
  }
  .social-list-footer {
    padding-bottom: 0;
  }
}
.regular-customers__title {
  text-align: center;
  margin-bottom: 30px;
}

.regular-customers__icon-logo {
  width: 106px;
  height: 60px;
  fill: var(--icon-social);
  transition: fill var(--time-bezier);
}
.regular-customers__link:hover .regular-customers__icon-logo, .regular-customers__link:focus .regular-customers__icon-logo {
  fill: #2196F3;
}

.regular-customers__logo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.regular-customers__icon-clients {
  width: calc((100% - 30px) / 2);
}

.regular-customers__link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 92px;
  border-radius: 4px;
  border: 1px solid var(--icon-social);
  background-color: #FFFFFF;
  transition: border var(--time-bezier);
}
.regular-customers__link:hover, .regular-customers__link:focus {
  border: 1px solid #2196F3;
}

@media screen and (min-width: 768px) {
  .regular-customers__icon-clients {
    width: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .regular-customers__icon-clients {
    width: calc((100% - 150px) / 6);
  }
}
.socila-list {
  display: flex;
  justify-content: center;
  column-gap: 10px;
}

.social-list__icon {
  width: 20px;
  height: 20px;
  fill: var(--icon-social);
  transition: fill var(--time-bezier);
}

.footer-social__icon {
  fill: #FFFFFF;
  width: 20px;
  height: 20px;
  transition: fill var(--time-bezier);
}

.social-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #FFFFFF;
  transition: background-color var(--time-bezier);
}
.social-list__link:hover, .social-list__link:focus {
  background-color: #2196F3;
}
.social-list__link:hover .social-list__icon, .social-list__link:focus .social-list__icon {
  fill: #FFFFFF;
}

.team {
  background-color: var(--bcg-button);
}

.team__employee {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.team__direction {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--text-contacts);
  margin-bottom: 16px;
}

.team__foto-member {
  max-width: 100%;
  margin: 0 auto;
  height: auto;
}

.team__title {
  text-align: center;
  margin-bottom: 30px;
}

.team__foto {
  text-align: center;
  background-color: #FFFFFF;
  border-radius: 0 0 4px 4px;
  box-shadow: var(--card-shadow);
}

.team__members {
  padding-top: 30px;
  padding-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .team__foto {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team__menu {
    display: flex;
    gap: 30px;
  }
  .team__foto {
    width: calc((100% - 90px) / 4);
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 1199px) {
  .work {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .work__menu-foto {
    display: flex;
    justify-content: space-between;
  }
  .work__foto-work {
    position: relative;
    width: calc((100% - 60px) / 3);
  }
  .work__title,
.team__title,
.regular-customers__title {
    font-size: 36px;
    line-height: 1.17;
    font-weight: 700;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 50px;
  }
  .work {
    padding-bottom: 94px;
  }
  .work__text-applcations {
    font-size: 14px;
    line-height: 1.43;
    text-transform: uppercase;
    font-weight: 700;
    color: #FFFFFF;
  }
  .work__applications {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: var(--strip-applications);
  }
}
.menu-nav-porfolio {
  display: flex;
  flex-wrap: wrap;
  row-gap: 15px;
  margin-bottom: 40px;
}

.button-menu {
  margin-right: 9px;
}

.first {
  padding: 6px 25px;
}

.menu-portfolio {
  width: 304px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.service-name {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--text-contacts);
  margin-top: 4px;
}

.cards-portfolio {
  display: flex;
  flex-direction: column;
  height: 100%;
  transition: box-shadow var(--time-bezier);
}
.cards-portfolio:hover, .cards-portfolio:focus {
  box-shadow: var(--portfolio-shadow);
}

.menu-service {
  display: flex;
  flex-wrap: wrap;
}

.menu-description {
  border-left: 1px solid var(--border-portfolio);
  border-bottom: 1px solid var(--border-portfolio);
  border-right: 1px solid var(--border-portfolio);
  padding: 20px 24px;
  flex-grow: 1;
}

@media screen and (max-width: 1199px) {
  .menu-service {
    gap: 30px;
  }
}
img {
  display: block;
  width: 450px;
}

@media screen and (min-width: 768px) {
  .menu-nav-porfolio {
    justify-content: center;
    margin-bottom: 30px;
  }
  img {
    width: 354px;
  }
  .picture-portfolio {
    display: inline-block;
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .menu-portfolio {
    width: 100%;
  }
  .menu-nav-porfolio {
    margin-bottom: 50px;
  }
  .menu-service {
    margin-top: calc(-1 * var(--card-distance));
    margin-left: calc(-1 * var(--card-distance));
  }
  .menu-service > .picture-portfolio {
    flex-basis: calc(33.3333333333% - var(--card-distance));
    margin-left: var(--card-distance);
    margin-top: var(--card-distance);
  }
  img {
    width: 370px;
  }
}
.team__menu {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.features__features-card {
  margin-bottom: 30px;
}

.features__description {
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.features__advantage {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  border-radius: 4px;
  background-color: var(--bcg-button);
  margin-bottom: 30px;
}

.features__transcript {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-contacts);
}

@media screen and (min-width: 768px) {
  .features__features-card {
    width: 354px;
    display: inline-block;
  }
  .features__features-menu {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  .features__features-card {
    width: calc((100% - 30px) / 2);
  }
  .features__description {
    text-align: left;
  }
}
@media screen and (min-width: 1200px) {
  .features__features-menu {
    display: flex;
    justify-content: space-between;
  }
  .features__features-card {
    width: calc((100% - 90px) / 4);
  }
  .features__features-card {
    margin-bottom: 0;
  }
}/*# sourceMappingURL=main.css.map */