

.features__features-card {
    margin-bottom: 30px;
}
.features__description {
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.features__advantage {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    border-radius: 4px;
    background-color: var(--bcg-button);
    margin-bottom: 30px;
}

.features__transcript {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--text-contacts);
}

@media screen and (min-width: 768px) {
      .features__features-card {
        width: 354px;
        display: inline-block;
        // text-align: center;
    }
    .features__description {
        text-align: left;
    }

}

@media screen and (min-width: 1200px) {
    .features__features-menu {
            @include flexSpaceBetween();
        }
    
        .features__features-card {
            width: calc((100% - 3 * 30px)/4);
        }
        .features__features-card {
            margin-bottom: 0;
        }
}

