.footer {
    background-color: var(--element-hero);
    padding: 60px 0 60px 0;
}

.footer-general {
    display: flex;
}

.footer-nav,
.footer-social {
    display: inline-block;
}


@media screen and (max-width: 1199px) {
    .footer-form {
            display: inline-block;
            text-align: center;
        }
    .footer-nav,
    .footer-social {
             text-align: center;
             margin-bottom: 60px;
    }
    .footer-general {
        flex-direction: column;
        justify-content: center;
    }
    .footer-mail-subscribe {
        display: block;
    }
}


.connection__contact-direct {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    font-weight: 400;
    color: $main-opacity;
}

.footer-connection__contact:not(:last-child) {
    margin-bottom: 8px;
}


.footer-contacts {
    margin-top: 20px;
}


.adress {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    font-weight: 400;
    color: $main-color;
}


.footer-social-join {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    color: $main-color;
    letter-spacing: 0.03em;
    margin-bottom: 20px;
}

.social-list-footer {
    display: flex;
    justify-content: center;
    column-gap: 10px;
}


.social-link-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: var(--main-opacity-two);
    transition: background-color var(--time-bezier);
    &:hover,
    &:focus {
        background-color: $text-items
    }
}

.footer-form-subscribe {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.43;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $main-color;
    margin-bottom: 20px;
}


.user-mail-input {
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    color: $main-color;
    font-size: 16px;
    line-height: 1.25;
    padding-left: 16px;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background-color: var(--element-hero);
    &::placeholder {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.25;
        color: $main-opacity;
        margin-left: 16px;
    }
}

.footer-form-sending {
    margin: auto;
    width: 200px;
    height: 50px;
    font-size: 16px;
    line-height: 1.88;
    font-weight: 700;
    background-color: $text-items;
    color: $main-color;
    border: $text-items;
    letter-spacing: 0.06em;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    transition: color var(--time-bezier), background-color var(--time-bezier);
    &:hover,
    &:focus {
        color: $main-color;
        background-color: var(--bcg-btn-hero);
    }
}

.icon-send-plane {
    display: inline-block;
    vertical-align: middle;
    fill: $main-color;
    margin-left: 12px;
}

@media screen and (min-width: 768px) {
    .user-mail-input {
        width: 450px;
    }
    .footer-form {
        margin-top: 187px;
    }
    .footer {
        position: relative;
    }
    .footer-social {
        position: absolute;
        top: 65px;
        right: 89px;
        margin-bottom: 0;
    }
    .footer-nav {
        position: absolute;
        top: 60px;
        left: 76px;
        margin-bottom: 0;
    }
}   

@media screen and (min-width: 1200px) {

        .footer-general {
                align-items: baseline;
            }
        .footer-social,
        .footer-nav {
            position: static;
        }
        .footer-social {
            margin-left: 70px;
        }

        .footer-form {
            margin-top: 0;
            margin-left: auto;
        }
        .footer-form-subscribe {
            font-weight: 500;
        }
        .footer-mail-subscribe {
            margin-right: 12px;
        }
        .user-mail-input {
            width: 358px;
        }
        .icon-send-plane {
        margin-left: 10px;
        }
        .footer-connection__contact:not(:last-child) {
            margin-bottom: 9px;
        }
        .footer-social-join {
            display: inline-block;
        }
        .social-list-footer {
            padding-bottom: 0;
        }
    
}
