.menu-nav-porfolio {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.button-menu {
    margin-right: 8px;
}

.cards-portfolio {
    display: block;
    transition: box-shadow var(--time-bezier);
    &:hover,
    &:focus {
        box-shadow: var(--portfolio-shadow);
    }
}

.menu-portfolio {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: $text-main;
}

.service-name {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--text-contacts);
    margin-top: 4px;
}