 @media screen and (max-width: 1199px) {
    .work {
            display: none;
        }
 }
 
@media screen and (min-width: 1200px) {
    .work__menu-foto {
            display: flex;
            justify-content: space-between;
        }
    
        .work__foto-work {
            position: relative;
            width: calc((100% - 2 * 30px)/3);
        }
    
        .work__title,
        .team__title,
        .regular-customers__title {
            font-size: 36px;
            line-height: 1.17;
            font-weight: 700;
            letter-spacing: 0.03em;
            text-align: center;
            margin-bottom: 50px;
        }
    
        .work {
            padding-top: 0;
        }
    
    
        .work__text-applcations {
            position: absolute;
            font-size: 14px;
            line-height: 1.43;
            text-transform: uppercase;
            font-weight: 700;
            color: $main-color;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    
        .work__applications {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 70px;
            background-color: var(--strip-applications);
        }
}

