h1,
h2,
h3,
h4,
p,
ul,
span {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    padding-left: 0;
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}



body {
    font-family: $fontMain;
    background-color: $main-color;
    color: $text-main;
}
.no-scroll {
    overflow: hidden;
}

.pointer {
    cursor: pointer;
}

.connection__contact,
.header__item,
.mobile__item,
.logo-studio,
.cards-portfolio,
.mobile-menu__contact--telephon,
.mobile-menu__contact--mail,
.mobile-menu__social-list,
.mobile-menu__social-link {
    text-decoration: none;
}
