%section {
    padding-top: 60px;
    padding-bottom: 60px;
}

@media screen and(min-width: 1200px) {
    %section {
            padding-top: 94px;
            padding-bottom: 94px;
        }
}


.services-portfolio,
.features,
.works,
.team,
.regular-customers {
    @extend %section;
}


@mixin flexSpaceBetween() {
    display: flex;
    justify-content: space-between;
}
